<div id="viewport">
  <div id="sidebar">
    <header>
      <a href="home">Reddimender</a>
    </header>
    <ul class="nav">
      <li>
        <a routerLink="/art" routerLinkActive="active">Art</a>
      </li>
      <li>
        <a routerLink="/culture" routerLinkActive="active">Culture</a>
      </li>
      <li>
        <a routerLink="/discussion" routerLinkActive="active">Discussion</a>
      </li>
      <li>
        <a routerLink="/food" routerLinkActive="active">Food</a>
      </li>
      <li>
        <a routerLink="/gaming" routerLinkActive="active">Gaming</a>
      </li>
      <li>
        <a routerLink="/humor" routerLinkActive="active">Humor</a>
      </li>
      <li>
        <a routerLink="/info" routerLinkActive="active">Info</a>
      </li>
      <li>
        <a routerLink="/lifestyle" routerLinkActive="active">Lifestyle</a>
      </li>
      <li>
        <a routerLink="/location" routerLinkActive="active">Location</a>
      </li>
      <li>
        <a routerLink="/meta" routerLinkActive="active">Meta</a>
      </li>
      <li>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
      </li>
      <li>
        <a routerLink="/music" routerLinkActive="active">Music</a>
      </li>
      <li>
        <a routerLink="/news-and-politics" routerLinkActive="active">News and Politics</a>
      </li>
      <li>
        <a routerLink="/pictures" routerLinkActive="active">Pictures</a>
      </li>
      <li>
        <a routerLink="/qa" routerLinkActive="active">Q & A</a>
      </li>
      <li>
        <a routerLink="/read-and-write" routerLinkActive="active">Read and Write</a>
      </li>
      <li>
        <a routerLink="/science" routerLinkActive="active">Science</a>
      </li>
      <li>
        <a routerLink="/sports" routerLinkActive="active">Sports</a>
      </li>
      <li>
        <a routerLink="/technology" routerLinkActive="active">Technology</a>
      </li>
      <li>
        <a routerLink="/tv" routerLinkActive="active">TV</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>