<div id="viewport">
  <div id="sidebar">
    <header>
      <a href="home">Reddimender</a>
    </header>
    <ul class="nav">
      <li>
        <a href="#">Art</a>
      </li>
      <li>
        <a href="#">Culture</a>
      </li>
      <li>
        <a href="#">Discussion</a>
      </li>
      <li>
        <a href="#">Food</a>
      </li>
      <li>
        <a href="#">Gaming</a>
      </li>
      <li>
        <a href="#">Humor</a>
      </li>
      <li>
        <a href="#">Info</a>
      </li>
      <li>
        <a href="#">Lifestyle</a>
      </li>
      <li>
        <a href="#">Location</a>
      </li>
      <li>
        <a href="#">Meta</a>
      </li>
      <li>
        <a href="#">Movies</a>
      </li>
      <li>
        <a href="#">Music</a>
      </li>
      <li>
        <a href="#">News and Politics</a>
      </li>
      <li>
        <a href="#">Pictures</a>
      </li>
      <li>
        <a href="#">Q & A</a>
      </li>
      <li>
        <a href="#">Read and Write</a>
      </li>
      <li>
        <a href="#">Science</a>
      </li>
      <li>
        <a href="#">Sports</a>
      </li>
      <li>
        <a href="#">Technology</a>
      </li>
      <li>
        <a href="#">TV</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>