<div class="bg">
    <div class="container">
        <h1 class="header my-4">Welcome to Reddimender!</h1>
        <form [formGroup]="inputSection" (ngSubmit)="submit()" class="centerpiece">
            <div class="form-group">
                <label for="formGroupExampleInput">Enter a subreddit or a topic</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="subreddit">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea3">Top 5 Recommendations</label>
                <div *ngIf="validateInput()">
                    <textarea readonly class="form-control" id="exampleFormControlTextarea3"
                            rows="7">
1. r/MovieDetails - 0.5038
2. r/NetflixBestOf - 0.4916
3. r/ShittyMovieDetails - 0.4693
4. r/comicbooks - 0.4543
5. r/Filmmakers - 0.4355
                    </textarea>
                </div>
                <div *ngIf="!validateInput()">
                        <textarea readonly class="form-control" id="exampleFormControlTextarea3"
                        rows="7"></textarea>
                </div>
                <button type="button" class="btn btn-outline-success" onclick="submit()">Submit</button>
            </div>
        </form>
    </div>
</div>