<div class="bg">
    <div class="container">
        <h1 class="header my-4">Welcome to Reddimender!</h1>
        <form [formGroup]="inputSection" (ngSubmit)="submit()" class="centerpiece">
            <div class="form-group">
                <label for="formGroupExampleInput">Enter a Subreddit</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="subreddit">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea3">Top 5 Recommendations</label>
                <textarea readonly class="form-control" id="exampleFormControlTextarea3"
                    rows="7">{{inputSection.value | json}}</textarea>
            </div>
        </form>
    </div>
</div>