body, html {
    height: 100%;
}
  
.bg {
    background-color: #f2f4f3;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.container {
    padding-left: 250px;
    margin-top: -25px;
}

h1.header {
    padding-top: 100px;
    text-align: center;
}

form.centerpiece {
    padding-top: 100px;
}

textarea {
    margin-bottom: 20px;
}