<div class="bg">
    <div class="container">
        <h1 class="header my-4">Read and Write
            <small>Recommendations</small>
        </h1>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <img src="../../assets/fakeImage1.png">
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <img src="../../assets/read_write_activity.png">
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <img src="../../assets/read_write_member.png">
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <img src="../../assets/read_write_age.png">
                </div>
            </div>
        </div>
    </div>
</div>